@inherits BasicComponent

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">NFT Faucet</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network" Match="NavLinkMatch.All">
                <span class="oi oi-bolt" aria-hidden="true"></span> @("Network" + (SelectedNetworkName != null ? $" ({SelectedNetworkName})" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="provider" >
                <span class="oi oi-key" aria-hidden="true"></span> Provider
            </NavLink>
        </div>
    </nav>
</div>  
