<span class="checkmark" style=@(AnchorToTopRightCorner ? "position: absolute; top: 1em; right: 1em;" : string.Empty)>
    <div class="checkmark_circle"></div>
    <div class="checkmark_stem"></div>
    <div class="checkmark_kick"></div>
</span>
