@using NftFaucetRadzen.Models

<RadzenDataList WrapItems="true" Data="@Data" TItem="NetworkModel" >
    <Template Context="network">
        <RadzenCard class="box" Style="width: 250px;">
            <div class="d-flex flex-row align-items-center">
                <RadzenImage Path=@("./images/" + (network.ImageName ?? "ethereum.svg")) Class="float-left mr-3" Style="width: 80px; height: 80px;" />
                <div>
                    <h4 class="mb-0">@network.Name</h4>
                    <div style="font-size: .8em">ChainID: @network.ChainId</div>
                    <div style="font-size: .8em">Currency: @network.Currency</div>
                    <div>
                        @if (!network.IsSupported)
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Light" IsPill="true" Text="Not Supported"/>
                        }
                        @if (!network.IsTestnet)
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="Mainnet"/>
                        }
                        @if (network.IsDeprecated)
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Warning" IsPill="true" Text="Deprecated"/>
                        }
                    </div>
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>
