@page "/connect-ipfs"
@layout EmptyLayout
@inherits ConnectIpfsComponent

<Space Align="center" Direction="DirectionVHType.Horizontal" Class="drk-vertical-space-center">
    <SpaceItem Class="drk-full-height">
        <Space Align="center" Direction="DirectionVHType.Vertical" Class="drk-vertical-space-center" Style="align-items: center !important;">
            <SpaceItem Style="height: 50%">
                <img src="./images/crust.svg" alt="crust" style="height: 100%"/>
            </SpaceItem>
            <SpaceItem>
                <Title Level="1">@TitleText</Title>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Size="@ButtonSize.Large" OnClick="Sign">@ButtonText</Button>
            </SpaceItem>
        </Space>
    </SpaceItem>
</Space>
