@page "/step4"
@inherits Step4Component

@if (TransactionHash == null)
{
    <Space Align="center" Direction="DirectionVHType.Horizontal" Class="drk-vertical-space-center">
        <SpaceItem Class="drk-full-height">
            <Space Align="center" Direction="DirectionVHType.Vertical" Class="drk-vertical-space-center" Style="align-items: center !important;">
                <SpaceItem>
                    <Spin size="large" />
                </SpaceItem>
                <SpaceItem>
                    <Title Level="3">MetaMask will show a transaction signing pop-up. Please approve.</Title>
                </SpaceItem>
            </Space>
        </SpaceItem>
    </Space>
}
else if (TransactionHash.Value.IsSuccess)
{
    <Result Status="success"
            Title="Transaction was successfully created!"
            SubTitle="@($"Transaction: {TransactionHash.Value.Value}. Please wait for 1-5 minutes till transaction is completed.")">
        <Extra>
            <Button Type="primary" OnClick="@Reset">Start new mint</Button>
        </Extra>
    </Result>
}
else
{
    <Result Status="error"
            Title="Failed to create transaction"
            SubTitle="@("Please ensure that you approve created transactions in Metamask")">
        <Extra>
            <Button Type="primary" OnClick="@Retry">Try again</Button>
        </Extra>
    </Result>
}
