@page "/uploads"
@inherits BasicComponent

<PageTitle>Token upload locations</PageTitle>
<RadzenContent Container="main">
    <RadzenHeading Size="H1" Text="Select or create a token upload" />
    @if (AppState.SelectedToken == null)
    {
        <RadzenHeading Size="H3" Text="Please choose token first!" />
    }
    else
    {
        <div style="width: 100%; display: flex; flex-direction: row; justify-content: end;">
            <RadzenButton Text="Create New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary"
                          Click="@OpenCreateUploadDialog"/>
        </div>
        <CardList Data="@UploadCards" OnSelectedChange="@(async _ => await OnUploadLocationChange())" @bind-SelectedItems="@AppState.UserStorage.SelectedUploadLocations"/>
    }
</RadzenContent>
