@page "/tokens"
@inherits BasicComponent

<PageTitle>Tokens</PageTitle>
<RadzenContent Container="main">
    <RadzenHeading Size="H1" Text="Select or create a token to mint" />
    <div style="width: 100%; display: flex; flex-direction: row; justify-content: end;">
        <RadzenButton Text="Create New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary"
                      Click="@OpenCreateTokenDialog" />
    </div>
    <CardList Data="@TokenCards" OnSelectedChange="@(_ => OnTokenChange())" @bind-SelectedItems="@AppState.Storage.SelectedTokens" />
</RadzenContent>
